@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: 'get_schwiftyregular';
  src: url("get_schwifty-webfont.woff2") format("woff2"), url("get_schwifty-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(media/wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-color: #252525;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body #root {
  width: 50%;
  height: 100%;
}

body #root .MuiPagination-root {
  height: 50px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 20px 50px;
  font-family: "Source Sans Pro", sans-serif;
}

body #root .MuiPagination-root .MuiPagination-ul {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 0;
}

body #root .MuiPagination-root .MuiPagination-ul button, body #root .MuiPagination-root .MuiPagination-ul .MuiPaginationItem-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d2e054;
  -webkit-box-shadow: 0 0 10px #d2e054;
          box-shadow: 0 0 10px #d2e054;
  font-size: 16px;
  text-shadow: 0 0 0.3px #252525;
}

body #root .MuiPagination-root .MuiPagination-ul button:hover, body #root .MuiPagination-root .MuiPagination-ul .MuiPaginationItem-ellipsis:hover {
  color: #d2e054;
  background-color: #25252573;
  text-shadow: 0 0 0.5px #d2e054;
}

body #root .MuiPagination-root .MuiPagination-ul button:active, body #root .MuiPagination-root .MuiPagination-ul .MuiPaginationItem-ellipsis:active {
  color: #d2e054;
  background-color: #25252573;
  text-shadow: 0 0 0.5px #d2e054;
}

body #root .header {
  width: 800px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

body #root .header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root .header a #logo {
  width: 260px;
}

body #root .header a #middleFinger {
  width: 260px;
}

body #root .header .button-container {
  width: 50%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root .header .button-container button > a:link, body #root .header .button-container button > a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

body #root .header .button-container > button {
  width: 230px;
  height: 90px;
  font-family: 'get_schwiftyregular';
  font-size: 28pt;
  background-color: #252525;
  color: #d2e054;
  border: 5px solid #d2e054;
  text-shadow: 0 0 10px #d2e054;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

body #root .header .button-container > button:hover {
  background-color: #d2e054;
  color: #12b0c9;
  border: 5px solid #d2e054;
  -webkit-box-shadow: 0 0 10px #d2e054;
          box-shadow: 0 0 10px #d2e054;
}
/*# sourceMappingURL=App.css.map */